body {
  margin: 0;
  background-color: rgb(213, 240, 230);
}
.navbar {
  background-color: rgb(76, 82, 82);
  height: 2.8rem;
  padding: 0rem 1rem 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  margin: 0;
  color: white;
}
h2 a {
 all: unset;
 cursor: pointer;
}
.search {
  outline: none;
  border: none;
  border-radius: 0.3rem;
  padding: 0.55rem 0.5rem;
}
.cart {
  all: unset;
  cursor: pointer;
  border-radius: 0.3rem;
  border: none;
  background-color: rgb(223, 102, 102);
  padding: 0.243rem;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.count{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .7rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  background-color: white;
  width: 0.9rem;
  height: 0.95rem;
  border-radius: 50%;
  position: absolute;
  right: .9rem;
  top: 1.6rem;
}
.searching {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;
}
.herobutton {
  all: unset;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  padding: 0.6rem 1.2rem;
  border-radius: 0.4rem;
  box-shadow: 5px 8px 20px rgb(179, 179, 179);
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}
.herobutton:hover {
  scale: 1.1;
  transition: 0.2s;
}
.active {
  background-color: rgb(149, 149, 226);
  color: white;
}

.mg {
  border-radius: 0.3rem;
  width: 14rem;
  height: 15rem;
  object-fit: cover;
  object-position: top;
}
.container {
  padding: 0 5rem 1rem;
  padding-top: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(221, 221, 221);
  border-top: 1px solid rgb(221, 221, 221);
}
.rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.3rem;
}
.color {
  color: #fffb00;
}
.addtocart {
  all: unset;
  cursor: pointer;
  background-color: rgb(118, 118, 202);
  padding: 0.4rem 1rem;
  border-radius: 0.4rem;
  margin: 0.5rem 0;
  color: white;
  box-shadow: 5px 8px 20px rgb(196, 196, 196);
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  position: relative;
}
.addtocart::before {
  content: "";
  position: absolute;
  left: 0%;
  border-radius: 0.4rem;
  background-color: rgb(255, 255, 255);
  opacity: 0;
  padding: 0.03rem 3.65rem;
  bottom: 0;
  transition: 0.5s;
}
.addtocart:hover::before {
  opacity: 0.4;
  padding: 1rem 3.71rem ;
  transition: 0.5s;
}
.title {
  font-weight: bold;
}
.card {
  background-color: white;
  padding: 0.3rem 0.5rem;
  width: 14rem;
  border: 1px solid rgb(207, 203, 203);
  border-radius: 0.3rem;
}
@media (max-width: 650px) {
  .hero {
    display: grid;
    grid-template-columns: 100px 100px;
  }
  .carts {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    column-gap: 4rem;
    row-gap: 2rem;
  }
}
@media (min-width: 650px) {
  .carts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 2.5rem;
    row-gap: 2rem;
  }
}
@media (min-width: 950px) {
  .carts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2.5rem;
    row-gap: 2rem;
  }
}
@media (min-width: 1170px) {
  .carts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2.5rem;
    row-gap: 2rem;
  }
}
